body {
    background-color: #f8f8f8;
    margin: 0px;
    font-family: "TT Lakes", sans-serif;
}
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: #ffffff;
    height: 88px;
    font-size: 28px;
    border-bottom: 1px solid #D9FFF5;
}

.burger {
    width: 40px;
    height: 40px;
    padding-top: 24px;
    padding-left: 16px;
}

.logo {
    width: 96.55px;
    height: 50.81px; 
    padding-top: 18.59px;
    padding-left: 16.73px;
}

.element1 {
    width: 2px;
    height: 32px;
    padding-top: 28px;
    padding-left: 16.73; 
}

.setting {
    width: 40px;
    height: 40px;
    padding-top: 24px;
    padding-left: 20px;
}

.search {
    width: 40px;
    height: 40px;
    padding-top: 24px;
    padding-left: 16;
}
.call {
    display: none; 
}

.chat {
    width: 40px;
    height: 40px;
    display: none;
}

.profile {
    width: 40px;
    height: 40px;
    display: none;
}

h1 {
    width: 304px;
    height: 40px;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1b1c21;
    margin: 24 16 24 16;
   
}

section {
    vertical-align: top;
    color: #7e7e82;
    white-space: nowrap;
    font-size: 16px;
    overflow: scroll;
}


.text { 
    margin: 16px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1b1c21;

}

.text2 {
    display: none;
}

a {
  width: 320px;
  height: 230.8px;
  top: 358.57px;

}

.product__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0px;
}
.product__list > li {
    height: 40px;
    width: 246px;
    margin: 0px 0px 0px 24px;
}
.product__list > li > div {
    text-align: center;
    font-family: 'TT Lakes';
    line-height: 24px;
    letter-spacing: -0.2px;
    padding: 8px 0px;
}

.first_product{
    border: 2px solid #B8FFEC;
    background-color: #ffffff;
    padding: 8px 9.38px 8px 16.67px !important;
    border-radius: 6px;
}



.read_next {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 24px;
    margin: 0px 16px 16px 16px;
}
.arrow {
    width: 24px;
    height: 24px;
    background-image: url('img/icon.png');
    background-repeat: no-repeat;
    background-position: center;
}

.further {
    margin: 0 0 0 8px;
    font-family: "TT Lakes", sans-serif ;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
 }
 .services {
     display: flex;
     flex-direction: row;
     align-items: center;
     height: 40px;
     margin: 24px 0px 0px 0px;
}

.element2 {
    display: none;
}

.element4 {
    width: 100%;
}

@media (min-width: 768px) {


    .burger {
      order: -2;
      padding-top: 24px;
      padding-left: 24px;   
    }
    
    .element1 {
      order: -1;
      padding-left: 20px;  
    }
    
    .logo {
     padding-left: 20.73px;
     padding-top: 18.59px;   
    }
    
    .call {
        display: block;
        width: 40px;
        height: 40px;
        padding-top: 24px;
        padding-left: 250.73px;
        
    }
    
    .chat {
        display: block;
        width: 40px;
        height: 40px;
        padding-left: 16px;
        padding-top: 24px;
    }

    .profile {
        display: block;
        width: 40px;
        height: 40px;
        padding-left: 16px;
        padding-top: 24px;
    }

    .element2 {
        display: block;
        width: 2px;
        height: 32px; 
        padding-left: 20px;
        padding-top: 28px;
    }

    .setting {
        float: right;
        padding-left: 20px; 
        order: 4; 
    }

    .search {
        order: 5;;
        padding-left: 16px;
    }
    
    p {
        display: flex;
        flex-direction: row;
        margin-right: 0px;
    }
    .text {

        margin-left:  24px;
        width: 312px;
        line-height: 20px;

    }

    .text2 {
        display: block;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #1b1c21;
        width: 312px;
        margin-left: 24px;
    }

    .info {
      margin: 0px;
      width: 336px;
    }

    .info2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }

    .read_next {
        margin: 0px 16px 16px 33px
    }

    .element4 {
       margin-top: 20px;
       margin-left: 48px; 
       margin-right: 25px;

    }

    .cps {
        border-radius: 5px;
    }
}